.event {
    height: 6.5rem;
    border: 2px solid #00abfe;
    display: flex;
    justify-content: space-around;
    border-radius: 12px;
    align-items: center;
    margin: 20px 0px;
}

.countdown {
    display: flex;
    flex-direction: column;
    width: 10%;
    height: 80%;
}

.countdown .days {
    font-size: 2.5rem;
    font-weight: bold;
    color: #36ae62;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.days-text-expired {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    font-weight: bold;
    margin-left: 15px;
    color: red;
}

.days-text-now {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    font-weight: bold;
    margin-left: 15px;
    color: orange;
}

.countdown .text {
    height: 40%;
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
}

.name-event {
    width: 35%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.25rem;
}

.date-event {
    width: 15%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.25rem;
}

.delete-event {
    border: none;
    width: 12%;
    height: 50%;
    border-radius: 10px;
    font-size: 1.2rem;
    background-color: #50a0c8;
    color: whitesmoke;
    cursor: pointer;
}

.delete-event:hover {
    background-color: tomato;
    color: white;
}